/*
* Dark theme with lost of focus code-decoloration 
* When you take the cursor out of the main code section the code will lose color
*/


.CodeMirror, .CodeMirror-scroll {background-image: linear-gradient(to right,#000, #000000);  }

.CodeMirror-gutter, .CodeMirror-gutters{background-color: #000;}

.CodeMirror-cursor {border-right: 1px solid #ede0ce;}

.CodeMirror-foldgutter{ border-right: 1px solid #2e2e2e;}

.CodeMirror .CodeMirror-overwrite .CodeMirror-cursor {border-left: none; border-bottom: 2px solid #ede0ce;} 

.CodeMirror-matchingbracket{ background-color: #aaf; }

/* CSS transition support */
.CodeMirror .cm-m-css{color: #333; transition: .5s;}

/* JS transition support*/
.CodeMirror .cm-m-javascript{color: #333; transition: .5s;}

/* ------------------------ CSS COLORS ---------------------------*/

.CodeMirror:hover .cm-m-css { color: #999; transition: .5s;}

.CodeMirror:hover .cm-m-css.cm-qualifier { color: #3ab; }

.CodeMirror:hover .cm-m-css.cm-atom { color: white;} 

.CodeMirror:hover .cm-m-css.cm-property { color: #fa2; }

.CodeMirror:hover .cm-m-css.cm-number { color: #f3f;}

.CodeMirror:hover .cm-m-css.cm-keyword { color: #f03;}

/*-------------------------- JS COLORS ----------------------------*/

.CodeMirror:hover .cm-m-javascript{color: #999;}

.CodeMirror:hover .cm-m-javascript.cm-keyword{color: #fff;}

.CodeMirror:hover .cm-m-javascript.cm-def{ color: #bbb;}

.CodeMirror:hover .cm-m-javascript.cm-variable{ color: #888;}

.CodeMirror:hover .cm-m-javascript.cm-string{ color: #aa0;}

.CodeMirror:hover .cm-m-javascript.cm-property{ color: #999;}

.CodeMirror:hover .cm-m-javascript.cm-operator{ color: #fff;}

.CodeMirror:hover .cm-m-javascript.cm-number{ color: #fa0;}
